.main-container {
  width: 100%;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 5px;
}
 ::-webkit-scrollbar-track {
  background: var(--grey-lighter) !important; 
}
 ::-webkit-scrollbar-thumb {
  background: var(--green-button) !important; 
  border-radius:10px;
}
.top-nav {
  background-color: var(--grey-nav);
  width: 100%;
  height: 60px;
  padding: 1.2rem 2rem;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  color: #fff;
}
.content {
  padding: 1rem 2rem;
  color: #fff;
}
.search-input, .search-input:focus, .search-input:active{
  border: none;
  box-shadow:none;
  outline: none;
}
.search-input{
  width: 50%;
  border-radius: 5px;
  background-color: var(--grey-lightest);
  color: #fff;
}
@media (max-width: 768px) {
  .top-nav span{
    font-size:0.6rem
  }
  .top-nav{
    padding:0;
    align-items:end;
  }
}