.music-controls {
  border-top: 1px solid #000;
  background-color: var(--grey-lighter);

  height: 105px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;

  color: #fefefe;
}
.rhap_container{
  background-color: var(--grey-lighter) !important;
}
.rhap_time,.rhap_header{
  color: #fefefe !important;
}
